* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* HEADER-SECTION */

body {
  max-width: 100%;
}

header {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  min-height: 60px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #a6a8ac;
}

header .hamburger-icon {
  display: none;
  padding-right: 20px;
}

.myntra-home {
  height: 45px;
  padding-left: 20px;
}

.logo-container {
  margin-left: 4%;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  min-width: 500px;
}

.navbar a {
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #282c3f;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 6px;
  border-bottom: 4px solid transparent;
  transition: all 200ms ease-in;
}

.navbar a:hover {
  border-color: #f54e77;
}

.navbar a sup {
  color: #ff3f6c;
  font-size: 10px;
}

.search-bar {
  height: 40px;
  min-width: 300px;
  display: flex;
  align-items: center;
}

.search-bar .search-icon {
  background-color: #f5f5f6;
  color: #696e79;
  font-weight: 300px;
  border-radius: 6px 0 0 6px;
  box-sizing: content-box;
  height: 20px;
  padding: 10px;
}

.search-bar .search-input {
  background-color: #f5f5f6;
  color: #696e79;
  flex-grow: 1;
  height: 40px;
  border: 0;
  outline: none;
  border-radius: 0 6px 6px 0;
}

.action-bar {
  display: flex;
  justify-content: space-evenly;
  min-width: 200px;
  margin-right: 4%;
}

.action-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* =================================================== */
/* MAIN-SECTION */

.banner-container {
  margin: 40px 0;
}

.banner-image {
  width: 100%;
  padding-left: 20px;
}

.category-heading {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 1.8em;
  margin: 50px 0 40px 30px;
  max-height: 5em;
  font-weight: 700;
}

.category-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sale-item {
  width: 250px;
}

/* =========================================================== */
/* FOOTER-SECTION */

footer {
  background-color: #fafbfc;
}

.footer-container {
  padding: 30px 0 40px 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column h3 {
  color: #282c3f;
  margin-bottom: 25px;
}

.footer-column a {
  text-decoration: none;
  color: #696b79;
  font-size: 15px;
  padding-bottom: 5px;
}

.footer-column .social-image a img {
  width: 30px;
  margin-top: 10px;
}

.all-details {
  padding: 20px;
}

.message h3 {
  margin: 20px 0 20px 0;
}

.copyright {
  display: flex;
  justify-content: space-between;
  margin: 50px 20px 20px 0;
}

@media screen and (width <= 1200px) {
  nav.navbar {
    justify-content: end;
    min-width: unset;
  }
  header .search-bar {
    max-width: 150px;
    min-width: unset;
  }
  header .search-bar input.search-input::placeholder {
    color: transparent;
  }

  header .action-bar {
    min-width: 120px;
    margin-right: 0;
  }
  header .action-bar .action-container span.action-name {
    display: none;
  }
}
@media screen and (width <= 992px) {
  header .action-bar,
  .search-bar {
    display: none;
  }

  footer {
    text-align: center;
    border-top: 1px solid grey;
  }

  footer .footer-container {
    flex-direction: column;
    row-gap: 10px;
    padding-bottom: 0;
  }
  footer .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}
@media screen and (width <= 576px) {
  nav.navbar {
    display: none;
  }
  header .hamburger-icon {
    display: block;
  }
}
